[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
comet-ml = "*"
numpy = "*"
tensorflow = "*"
matplotlib = "*"
torch = "*"
transformers = "*"
scikit-learn = "*"
datasets = "*"
ipywidgets = "*"
widgetsnbextension = "*"
pandas-profiling = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
